<!-- Optional additional links to insert in sidebar nav -->

<ul class="lead">
  <li>5 games shipped (AA and indie)</li>
  <li>Broad range of skills and experience</li>
  <li>Adaptable and learning quickly</li>
  <li>Often worked with old legacy code</li>
  {% comment %} <li>I want to support your team</li> {% endcomment %}
</ul>

<div class="two-columns">
  <p><em>Languages</em></p>
  <p>C++, C#, Haxe, Javascript, Python</p>
</div>
<div class="two-columns">
  <p><em>Tools</em></p>
  <p>Git, Perforce, Jenkins</p>
</div>
<div class="two-columns">
  <p><em>Platforms</em></p>
  <p>Steam, Playstation, Xbox</p>
</div>
<div class="two-columns">
  <p><em>Hobbies</em></p>
  <div class="two-columns">
    <ul>
      <li>Pottery</li>
      <li>Painting</li>
      <li>Climbing</li>
      <li>Knitting</li>
    </ul>
    <ul>
      <li>Tabletop role-playing</li>
      <li>Magic: The Gathering</li>
      <li>Board game</li>
      <li>Video game</li>
    </ul>
  </div>
</div>
<div class="two-columns languages">
  <p><em>French</em></p>
  <p>Native</p>
</div>
<div class="two-columns languages">
  <p><em>English</em></p>
  <p>Fluent</p>
</div>