<!-- Optional additional links to insert for icons links -->
{% if site.github_username %}
  <a id="github-link"
    class="icon" title="Github Project" aria-label="Github Project"
    href="https://github.com/{{ site.github_username }}">
    {% include svg/github.svg %}
  </a>
{% endif %}
{% if site.itchio_username %}
  <a id="itchio-link"
    class="icon" title="Itch.io Profile" aria-label="Itch.io Profile"
    href="https://{{ site.itchio_username }}.itch.io">
    {% include svg/itchio-logo-textless-black.svg %}
  </a>
{% endif %}
{% if site.linkedin_username %}
  <a id="linkedin-link"
    class="icon" title="LinkedIn Profile" aria-label="LinkedIn Profile"
    href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
    {% include svg/linkedin_logo.svg %}
  </a>
{% endif %}
{% if site.instagram_username %}
  <a id="instagram-link"
    class="icon" title="Instagram Profile" aria-label="Instagram Profile"
    href="https://www.instagram.com/{{ site.instagram_username }}">
    {% include svg/instagram_logo.svg %}
  </a>
{% endif %}
{% if site.bluesky_username %}
  <a id="bluesky-link"
    class="icon" title="Bluesky Profile" aria-label="Bluesky Profile"
    href="https://bsky.app/profile/{{ site.bluesky_username }}">
    {% include svg/bluesky_logo.svg %}
  </a>
{% endif %}