{%- assign img_name = include.name -%}
{%- assign img_path = nil -%}
{%- assign img_detail_path = nil -%}

{%- for f in site.static_files -%}
  {%- if f.basename == img_name -%}
    {%- if f.path contains "/full/" -%}
      {%- assign img_detail_path = f.path -%}
    {%- else -%}
      {%- assign img_path = f.path -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- if img_path and img_path > "" -%}
  {%- assign img_alt = include.name | split: "-" | last |  capitalize | replace: "_", " " | first -%}

  {%- if img_detail_path -%}
    <img src="{{ img_path | relative_url }}" data-original="{{ img_detail_path  }}" alt="{{ img_alt }}" class="img-zoomable" />
  {%- else -%}
    <img src="{{ img_path | relative_url }}" alt="{{ img_alt }}" class="img-zoomable" />
  {%- endif -%}
{%- endif -%}