$gray-1: #f9f9f9;
$gray-2: #c5c5c5;
$gray-3: #9f9f9f;
$gray-4: #767676;
$gray-5: #515151;
$gray-6: #313131;

// $gray-1: #f9f9f9;
// $gray-2: #e5e5e5;
// $gray-3: #767676;
// $gray-4: #515151;
// $gray-5: #313131;
// $gray-6: #111111;

$large-breakpoint: 0rem;
$content-breakpoint: 0rem;
$img-breakpoint: 60rem;

$large-font-size: .83rem;