$gray-1: #f9f9f9;
$gray-2: #e5e5e5;
$gray-3: #9f9f9f;
$gray-4: #767676;
$gray-5: #515151;
$gray-6: #313131;

// $gray-1: #f9f9f9;
// $gray-2: #e5e5e5;
// $gray-3: #767676;
// $gray-4: #515151;
// $gray-5: #313131;
// $gray-6: #111111;

$sidebar-bg-color: #ac4142;
$link-color: #ac4142;

$sidebar-sticky: true;

$large-font-size: 1.1rem;

$large-breakpoint: 57rem;
$content-breakpoint: 57rem;
$img-breakpoint: 69rem;

$code-font-family: 'Victor Mono', Menlo, Monaco, 'Courier New', monospace;