---
---

a svg,
.icon svg {
  width: 1em;
}

$sidebar-bg-color: #ac4142;
$link-color: #ac4142;

$sidebar-sticky: true !default;

$large-font-size: 1.1rem !default;

@import "hydeout";

.home #sidebar, .home.index #sidebar, :not(.home) #sidebar  {
  nav * {
    margin-top: 0;
  }

  img {
    margin: 0 auto 1rem;
    width: 10rem;
  }

  .site-title {
    position: relative;
    display: inline-block;
    line-height: 1.15;
    margin: 0 0 .75rem;

    :before {
      content: "/ɡʁe.ɡwaʁ/";
      position: absolute;
      top: -0.2em;
      right: 1em;
      font-size: 0.35em;
      padding: 0;
      margin: 0;
      font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
      text-align: center;
      color: #f79c9edd; // rgba(255, 255, 255, 0.4)
    }

    @media (min-width: $large-breakpoint) {
      line-height: 1.25;
      font-size: 2.5rem;
      padding-left: 1.0rem;
      margin: 0 0 .5rem;

      :before {
        left: 10.75em;
        right: unset;
      }
    }
  }

  #sidebar-nav-links {
    h2 {
      font-size: 1.0rem;
      color: rgba(255, 255, 255, 1.00);
    }

    ul {
      padding-inline-start: 0px;
      margin-bottom: 0.6rem;

      li {
        list-style-type: "";
        // list-style-position: inside;
      }

      @media (min-width: $large-breakpoint) {
        padding-inline-start: 10px;

        li {
          list-style-type: "-";
          padding-left: 10px;
        }
      }
    }

    em, strong {
      color: rgba(255, 255, 255, .95);
    }

    .two-columns {
      margin-bottom: .75rem;
      line-height: 1.65;

      > *,
      .two-columns {
        margin-bottom: 0;
      }

      .two-columns {
        display: grid;
        grid-template-columns: 50% 50%;
      }

      @media (min-width: $large-breakpoint) {
        display: grid;
        grid-template-columns: 3.75rem auto;
        gap: .75rem;
        margin-bottom: .75rem;

        .two-columns {
          grid-template-columns: auto auto;
          gap: .5rem;
        }
      }
    }

    .languages {
      margin-bottom: 0rem;
      display: grid;
      grid-template-columns: auto auto;

      @media (max-width: $large-breakpoint) {
        :first-child {
          text-align: right;
        }
        :not(:first-child) {
          text-align: left;
          padding-left: .5rem;
        }
      }

      @media (min-width: $large-breakpoint) {
        grid-template-columns: 3.75rem auto;
      }
    }
  }

  #sidebar-icon-links {
    margin-top: 1rem;
  }

  #copyright {
    font-size: 0.75rem;
  }

  :not(header) .lead {
    font-size: 1.1rem;
    line-height: 1.5;
  }

  @media (min-width: $large-breakpoint) {
    @if not $sidebar-sticky {
      height: 100%;
      overflow-y: auto;
    }

    padding-bottom: 1.5rem;

    font-size: .8rem;

    header .lead {
      font-size: 1.1rem;
    }

    :not(header) .lead {
      font-size: 1.0rem;
      line-height: 1.5;
    }
  }
}

@media (min-width: $large-breakpoint) {
  .home #sidebar, :not(.home) #sidebar {
    width: 21rem;
  }

  .container {
    margin-left: 21rem;
  }
}